.DS_Store
Code/__pycache__
Code/venv/pyvenv.cfg
Code/venv
.vscode
.gitignore
Code/venv
geckodriver.log
scraper.txt
Code/automate_online-materials
Code/Django Practice/DJANGO_COURSE_1.xx
Code/Django Practice/DJANGO_COURSE_2.xx
.python-version
Code/Pipfile
Code/Pipfile.lock
random_proj/
Code/Django Practice
.idea
